*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: 100vh;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}

header{
    display: flex;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 5rem;
    padding: 1rem 0 0 1rem;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 1rem;
}

.logo img{
    width: 2rem;
    height: 2rem;
}

.logo h1{
    color: black;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 30rem;
    background: #34495E;
    border-radius: 1rem;
}

input{
    display: flex;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding-left: .8rem;
    font-size: 1rem;
    font-weight: 600;
}

article{
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: .6rem;
}

button{
    width: 3rem;
    height: 3rem;
    background: white;
    border: 1px solid black;
}

button img{
    width: 2rem;
    height: 2rem;
}